.navigation {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  padding: 0 8vw;
}

.navigation button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
