.cart {
  box-shadow: 0px 10px 10px -8px rgb(66 68 90);
  border-radius: 10px;
  overflow: hidden;
  margin: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  max-width: 300px;
  cursor: pointer;
  color: black;
}

.cart img {
  aspect-ratio: 160/98;
  width: 100%;
  max-width: 300px;
  align-self: center;
}

.cart h3 {
  font-size: 23px;
  font-weight: 800;
}

.cart p {
  margin: 3px 0;
  font-weight: 600;
}

.cart p span {
  font-weight: lighter;
}

.countryInfo {
  margin: 10px;
  padding: 20px;
}
